.homemain {
    font-family: 'Cairo', sans-serif;
    background-color: steelblue;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100vh;
    min-height : 100vh;
}

.links {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.links:hover{
    color:lightblue;
}

.links:active {
    background-color: midnightblue;
}
.link {
    text-decoration: none;
}