.homemain {
    font-family: 'Cairo', sans-serif;
    background-color: steelblue;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links {
    padding-top: 24px;
    padding-bottom: 24px;
}