.homemain {
    font-family: 'Cairo', sans-serif;
    background-color: steelblue;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 10px;
    color: white;
    text-decoration: underline;
    text-decoration-color: white !important;
    font-size: 16px;
}

